In [1]:
# Imports
import math
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
# Read the CSV file, by path, into a pandas DataFrame object
file_path = "C:/Users/TawfikAbbas/Documents/TalentPath/CapstoneProject/data/merged_data_cleaned.csv"

df = pd.read_csv(file_path)

In [ ]:
# Basic summary info about the dataset
df.info()

In [3]:
# Output the shape of the DataFrame
df.shape

(1339, 44)

The dataset contains 44 columns of varying data-types, and 1339 rows.

In [5]:
# Identify columns with missing values

df.isnull().sum()

Unnamed: 0                  0
Species                     0
Owner                       7
Country.of.Origin           1
Farm.Name                 359
Lot.Number               1063
Mill                      318
ICO.Number                157
Company                   209
Altitude                  226
Region                     59
Producer                  232
Number.of.Bags              0
Bag.Weight                  0
In.Country.Partner          0
Harvest.Year               47
Grading.Date                0
Owner.1                     7
Variety                   226
Processing.Method         170
Aroma                       0
Flavor                      0
Aftertaste                  0
Acidity                     0
Body                        0
Balance                     0
Uniformity                  0
Clean.Cup                   0
Sweetness                   0
Cupper.Points               0
Total.Cup.Points            0
Moisture                    0
Category.One.Defects        0
Quakers                     1
Color                     218
Category.Two.Defects        0
Expiration                  0
Certification.Body          0
Certification.Address       0
Certification.Contact       0
unit_of_measurement         0
altitude_low_meters       230
altitude_high_meters      230
altitude_mean_meters      230
dtype: int64

In [6]:
# Identify columns missing more than 20% of the possible total (1339)
bucket = [col for col in df.columns if df[col].isnull().sum() > np.floor(0.20 * df.shape[0])]

In [7]:
bucket

['Farm.Name', 'Lot.Number', 'Mill']

In [8]:
df.head(5)

,Unnamed: 0,Species,Owner,Country.of.Origin,Farm.Name,Lot.Number,Mill,ICO.Number,Company,Altitude,...,Color,Category.Two.Defects,Expiration,Certification.Body,Certification.Address,Certification.Contact,unit_of_measurement,altitude_low_meters,altitude_high_meters,altitude_mean_meters
0,0,Arabica,metad plc,Ethiopia,metad plc,NaN,metad plc,2014/2015,metad agricultural developmet plc,1950-2200,...,Green,0,"April 3rd, 2016",METAD Agricultural Development plc,309fcf77415a3661ae83e027f7e5f05dad786e44,19fef5a731de2db57d16da10287413f5f99bc2dd,m,1950.0,2200.0,2075.0
1,1,Arabica,metad plc,Ethiopia,metad plc,NaN,metad plc,2014/2015,metad agricultural developmet plc,1950-2200,...,Green,1,"April 3rd, 2016",METAD Agricultural Development plc,309fcf77415a3661ae83e027f7e5f05dad786e44,19fef5a731de2db57d16da10287413f5f99bc2dd,m,1950.0,2200.0,2075.0
2,2,Arabica,grounds for health admin,Guatemala,"san marcos barrancas ""san cristobal cuch",NaN,NaN,NaN,NaN,1600 - 1800 m,...,NaN,0,"May 31st, 2011",Specialty Coffee Association,36d0d00a3724338ba7937c52a378d085f2172daa,0878a7d4b9d35ddbf0fe2ce69a2062cceb45a660,m,1600.0,1800.0,1700.0
3,3,Arabica,yidnekachew dabessa,Ethiopia,yidnekachew dabessa coffee plantation,NaN,wolensu,NaN,yidnekachew debessa coffee plantation,1800-2200,...,Green,2,"March 25th, 2016",METAD Agricultural Development plc,309fcf77415a3661ae83e027f7e5f05dad786e44,19fef5a731de2db57d16da10287413f5f99bc2dd,m,1800.0,2200.0,2000.0
4,4,Arabica,metad plc,Ethiopia,metad plc,NaN,metad plc,2014/2015,metad agricultural developmet plc,1950-2200,...,Green,2,"April 3rd, 2016",METAD Agricultural Development plc,309fcf77415a3661ae83e027f7e5f05dad786e44,19fef5a731de2db57d16da10287413f5f99bc2dd,m,1950.0,2200.0,2075.0

In [9]:
list1 = ['Processing.Method', 'Color', 'Species']
list2 = ['Owner', 'Country.of.Origin', 'Company', 'Altitude', 'Region']

for val in list1:

    null_count = df[val].isnull().sum()

    print("Number of nulls in {}: {}".format(val, null_count))

Number of nulls in Processing.Method: 170
Number of nulls in Color: 218
Number of nulls in Species: 0

In [10]:
for val in list2:

    null_count = df[val].isnull().sum()

    print("Number of nulls in {}: {}".format(val, null_count))

Number of nulls in Owner: 7
Number of nulls in Country.of.Origin: 1
Number of nulls in Company: 209
Number of nulls in Altitude: 226
Number of nulls in Region: 59

In [11]:
list3 = ['Aroma', 'Flavor', 'Aftertaste', 'Acidity',
         'Body', 'Balance', 'Uniformity', 'Clean.Cup',
         'Sweetness', 'Moisture', 'Category.One.Defects']

In [12]:
df2 = df[list1 + list2 + list3]

In [13]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1339 entries, 0 to 1338
Data columns (total 19 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Processing.Method     1169 non-null   object
 1   Color                 1121 non-null   object
 2   Species               1339 non-null   object
 3   Owner                 1332 non-null   object
 4   Country.of.Origin     1338 non-null   object
 5   Company               1130 non-null   object
 6   Altitude              1113 non-null   object
 7   Region                1280 non-null   object
 8   Aroma                 1339 non-null   float64
 9   Flavor                1339 non-null   float64
 10  Aftertaste            1339 non-null   float64
 11  Acidity               1339 non-null   float64
 12  Body                  1339 non-null   float64
 13  Balance               1339 non-null   float64
 14  Uniformity            1339 non-null   float64
 15  Clean.Cup             1339 non-null   float64
 16  Sweetness             1339 non-null   float64
 17  Moisture              1339 non-null   float64
 18  Category.One.Defects  1339 non-null   int64
dtypes: float64(10), int64(1), object(8)
memory usage: 198.9+ KB

In [15]:
df2.iloc[0].isnull().sum()

2

In [16]:
df2_no_nulls = df2.dropna(axis = 0)

In [17]:
df2_no_nulls.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 845 entries, 0 to 1333
Data columns (total 19 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Processing.Method     845 non-null    object
 1   Color                 845 non-null    object
 2   Species               845 non-null    object
 3   Owner                 845 non-null    object
 4   Country.of.Origin     845 non-null    object
 5   Company               845 non-null    object
 6   Altitude              845 non-null    object
 7   Region                845 non-null    object
 8   Aroma                 845 non-null    float64
 9   Flavor                845 non-null    float64
 10  Aftertaste            845 non-null    float64
 11  Acidity               845 non-null    float64
 12  Body                  845 non-null    float64
 13  Balance               845 non-null    float64
 14  Uniformity            845 non-null    float64
 15  Clean.Cup             845 non-null    float64
 16  Sweetness             845 non-null    float64
 17  Moisture              845 non-null    float64
 18  Category.One.Defects  845 non-null    int64
dtypes: float64(10), int64(1), object(8)
memory usage: 132.0+ KB

In [ ]:
for i in range(df2.shape[0]):

    drop_bucket = []
    
    row_nulls = df2.iloc[i].isnull().sum()
    cols = df2.shape[1]

    if row_